html, body {
  background-image: url("./backgroundimage.jpg");
  background-size: cover;
}

.App {
  text-align: center;
}



.conatiner{
  align-items: center;
  margin: 40px;
  padding: 15px;
  width: 500px;
  margin: auto;
  border: 1px solid gray;
  opacity: 0.8;
  background: rgb(160, 160, 160, 0.5) ;
}

.wins{
  color:#4dff00;
  font-size: 1.2rem;
  font-weight: bold;
}
.losts{
  color: #ff1100;
  font-size: 1.2rem;
  font-weight: bold;
}

button{
  padding: 8px 20px 8px 20px;
  background-color: lightgray;
  font-size: 1.2rem;
  font-weight: bold;
}
.roundWon{
  font-size: 1.5rem;
  color: #4dff00;
  font-weight: bold;
}

.roundLost{
  font-size: 1.5rem;
  color: #ff1100;
  font-weight: bold;
}
h1{
  color:#440033;

}

.enterName{
  font-weight: bold;
  font-size: 1.2rem;
}